[submodule "Modules/IO"]
	path = Modules/IO
	url = git@github.com:webstream-framework/IO.git
	branch = master
[submodule "Modules/DI"]
	path = Modules/DI
	url = git@github.com:webstream-framework/DI.git
	branch = master
[submodule "Modules/Container"]
	path = Modules/Container
	url = git@github.com:webstream-framework/Container.git
	branch = master
